<div>
    @!inputs.label({text: text, name: name})

    @!inputs.textarea({
    placeholder: placeholder,
    type: type,
    required: required,
    name: name,
    value: value,
    id: id,
    stylediv: stylediv,
    })
</div>