<div>
    @!inputs.label({text: text, name: name})

    @!inputs.input({
    placeholder: placeholder,
    type: type,
    required: required,
    name: name,
    oldValue: oldValue,
    id: id
    })
</div>