<div class="{{stylediv ? stylediv : 'mb-2'}}">
    <input class="text-lg bg-ic dark:bg-id py-2 pl-4 rounded-lg focus:outline-none" type="{{type}}"
        placeholder="{{placeholder}}" @if required required />
</div>