<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body class="flex flex-col bg-fc dark:bg-fd text-black dark:text-white">
    <!-- header -->
    @include('partials/header')

    <!-- main -->
    <main class="grow" main-public>
        @!section('main-public')
    </main>

    <!-- footer -->
    @include('partials/footer')
</body>

</html>