<div class="{{stylediv}}">
    <button {{ $props.serialize() }}
        class="py-1 px-4 rounded-lg text-base border-2 border-ac hover:bg-ac hover:text-white dark:hover:text-white text-black dark:text-white">
        {{text}}
    </button>
</div>