<nav>
    <ul class="flex">
        @!component('components/menus/menu_footer/item_menu', {
        text: 'Conditions-générales',
        href: 'https://johnhaimez.fr',
        })
        @!component('components/menus/menu_footer/item_menu', {
        text: 'Mentions-légales',
        href: 'https://johnhaimez.fr',
        })
    </ul>
</nav>