<nav>
    <ul>
        @!component('components/menus/menu_side/item_menu', {text: 'Profil'})
        @!component('components/menus/menu_side/item_menu', {
        text: 'Déconnexion',
        href: route('/'),
        })
    </ul>
</nav>