<footer class="h-32 flex flex-col justify-center items-center flex-none bg-fc2 dark:bg-fd2">
    <p class="text-sm">© {{profil.copyright}} {{new Date().getFullYear()}}</p>
    @!component('components/menus/menu_footer/menu_footer')
</footer>