<li class="px-4 pt-2 hover:cursor-pointer w-fit">
    <a class="block pb-2 h-full w-full text-size-text-menu-header font-semibold border-b-2 border-b-transparent hover:border-b-2 hover:border-b-ac"
        href="{{href}}">
        {{text}}
    </a>
</li>