<nav class="w-full h-full flex items-center">
    <ul class="flex">
        @!component('components/menus/menu_header/item_menu', {text: 'Profil'})
        @!component('components/menus/menu_header/item_menu', {text: 'Compétence'})
    </ul>
</nav>