@if(contact)
@sections.sectionColor({})
<!-- title de la partie competence -->
@!titles.titleSectionPublic({title: contact.title})

<!-- description -->
<p class="lg:w-6/12 md:mt-4 text-lg md:text-2xl font-thin">{{contact.description ? contact.description : ''}}</p>

@end
@else
<p>Aucun contact</p>
@end