@set('value', flashMessages.get($context.name) || value)

<div class="mb-4">
    <label class="text-lg mb-2 mt-8 block">{{label}}</label>
    <textarea rows="10" name="{{name}}" class="bg-violet-fonce px-3 py-4 w-full text-lg"
        placeholder="{{placeholder}}">{{value}}</textarea>
</div>