<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ATTENTION A METTRE DANS LE LAYOUT -->
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
  <title>John haimez</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>

  <main>
    <p>test</p>
  </main>
</body>

</html>